@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	
	body {
		@apply bg-bg text-text antialiased;
		background-color: #000000;
		color: #ffffff;
	}
	
	::selection {
		@apply bg-white/20;
	}
}